
body{
    background-image: url('img/download.jpg') ;
    c
}
h1{
    font-family: "Times New Roman";
    font-size: xx-large;
}
nav{
    color: blue;
}
#text{
    text-align: right;
}
header{
    background-image: ;
}